.container-card {
  background-color:rgba(255, 182, 193, 0.957);
  color:white;
  display: flex;
  flex-direction:column; 
  margin-bottom:5px; 
  text-align: center;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  color: lightcoral;
  font-size: 29px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;

}

.subTitle {
  font-size:20px;
  color: rgb(255, 255, 255);
  height: 40px;
  font-weight: bold;

}

.line {
  display: block;
  height: 10px;
  border: 0px;;
  border-top: 3px solid lightcoral;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

.btn {
  text-decoration:none;
  display:inline-block;
  padding:10px ;
  
} 

.teks {
  font-family: 'Courier New', Courier, monospace;
}

.ppagelast {
  padding: 35px;
}